
body {
    margin: 0;
    padding: 0;
    background:#cff3ff;
    font-family: 'Raleway', sans-serif;
}

#viewer {
display: grid;
grid-template-columns: minmax(250px, 25%) auto;
}


* {
    box-sizing: border-box;
    cursor: pointer;
}

main svg:hover *,
body.hovering svg *:not(g){
 opacity: .2;
}
main {
    display: flex;
    align-items: center;
    
    justify-content: center;
}

ul {
    list-style: none;
    padding-left:5px;
}
main svg *:hover,
.hovered-item
 {

    opacity: 1 !important;
    stroke-width: 1px !important;
    stroke: red !important;
}
li:hover,
.hovered-text {
    color:red
}
section {
    display: none
}

#add-tab:checked ~ section#add-content,
#viewer-tab:checked ~ section#viewer-content {
    display: block;
    width: 100%;
float: right;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type=radio] {
  visibility: hidden;
  position: absolute;
}
input + label {
    display: inline-block;
    float: left;
    width: calc(50vw - 4px);
    padding: 15px;
    white-space: nowrap;
    text-align: center;
    background-color: #009fff;
    border-radius: 4px;
    margin: 15px 2px;
}

input:checked + label {

    background-color: #009fcc;
}

svg {
    max-height: 80vh
}


#viewer main {
    margin-top: 5px;
}

textarea{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #009fcc;
    padding: 15px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5)
}

fieldset {
    border-radius: 8px;
    border: 1px solid #009fcc;

}

footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: center;
}